body, html, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.App {
  padding: 30px;
  min-height: 100vh;
  background: #323232;
}

.taskName {
  padding: 10px;
  font-size: 20px;
}

.App h1 {
  margin: 30px auto;
  color: #fff;
}

.App h2 {
  margin-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.submitButton {
  display: block;
  margin-top: 20px;
  padding: 20px;
  width: 150px;
  border: none;
  background: gray;
  color: #fff;
  cursor: pointer;
}

.todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  border: 1px solid #323232;
}

.todo > h2 {
  position: absolute;
  top: 0;
  left:0;
}

.todo > h3 {
  font-size: 20px;
}
