body, html, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.app {
  padding: 30px;
  min-height: 100vh;
  background: #323232;
}

.taskName {
  padding: 10px;
  font-size: 20px;
  display: block;
}

.taskDeadline {
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.App h1 {
  margin: 30px auto;
  color: #fff;
}

.App h2 {
  margin-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.inputfield.alert {
  color: red;
}

