.todolist {
	background: #fff;
	padding: 30px;
}

.todos {
	padding: 0;
}

.todo {
	background: #fff;
	margin-top: 60px;
	list-style: none;
	padding: 30px;
	position: relative;
}

.todo_date {
  color: blueviolet;
  font-weight: bold;
}

.todo_closeButton {
	width: 30px;
	background: #323232;
	position: absolute;
	height: 30px;
	color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 30px;
	top: 30px;
	cursor: pointer;
}

.todo_Button {
	width: 80px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	margin: 20px 0;
}

.todo_Button_item {
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.todo_Button_item.is-completed{
  background:blueviolet;
}

.todo_Button_item.is-edit{
  background: #686868;
}

.todo_Button_item.is-cancel{
  background:#3B5998;
}

.todo_editarea {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  display: inline-block;
}

.todo_priority {
	padding: 10px 20px;
	margin-top: 20px;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background-size: 20px, 100%;
}